<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Unit tests">

    <test name="Validator test">
        <classes>
            <class name="org.sftpclient.validator.AddressValidatorTest"/>
        </classes>
    </test>

    <test name="Integration tests">
        <classes>
            <class name="org.sftpclient.service.AddressServiceTest"/>
        </classes>
    </test>
</suite>